.media-content{
    margin: auto
}
p{
    margin-bottom: 0 !important
}
.actionBtn img{
    width: 20px;
    height: 20px;
}
.card-content{
    padding: 3rem 6rem 2rem;
}
hr{
    margin: 0;
    color: black
}
.hasLiked{
    border-color: rgba(33,150,243,.4);
    background: rgba(33,150,243,.1)
}