<div *ngFor="let comment of comments.reverse()">
  <div class="card mt2">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content is-flex-desktop author-name-time">
            <p class="has-text-weight-light is-size-6 c_a">{{comment.author? comment.author: 'Anonymous'}}
            </p>
            <p>·</p>
            <p datep="" class="has-text-weight-light is-size-6" title="{{comment.date | date}}">
              {{comment.date | timeAgo}}</p>
          </div>
        </div>
        <div class="media-right">
          <!-- <i class="fa fa-ellipsis-v" (click)="toggleDropdown()"></i> -->
          <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <a class="actionBtn" aria-haspopup="true" aria-controls="dropdown-menu3" (click)="toggleDropdown(comment._id)">
                    <!-- <i class="fa fa-ellipsis-v"></i> -->
                    <img src="../../../../assets/more.png" alt="">
                </a>
              </div>
              <div >
                  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                      <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                          Overview
                        </a>
                        <a href="#" class="dropdown-item">
                          Modifiers
                        </a>
                      </div>
                    </div>
              </div>
            </div>
          </div>
      </div>

      
      




      <div class="content" [innerHTML]="comment.body">

      </div>
      <div class="c_f">
        <div class="level is-mobile" *ngIf="comment._id != editCommentId && comment._id != newCommentId">
          <div class="level-left">
            <div class="level-item">
              <a class="button is-rounded like_btn" (click)="likeComment(comment._id)"
                [style.border-color]="hasLikedThis" [style.background]="hasLikedThis2">
                  <img src="../../../../assets/thumbs.png" alt="" srcset="">
                <span *ngIf="comment.likes !== 0">{{comment.likes}}</span>
              </a>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <a (click)="deleteThisComment(comment._id)" class="actionBtn" title="Delete comment">
                <img src="../../../../assets/bin.png" alt="delete">
              </a>
            </div>
            <div class="level-item">
              <a (click)="showEditComment(comment._id)" class="actionBtn" title="Edit comment">
                <img src="../../../../assets/edit.png" alt="edit">
              </a>
            </div>
            <div class="level-item">
              <a (click)="showReplyComment(comment._id)" class="actionBtn" title="Reply comment">
                <img src="../../../../assets/reply.png" alt="reply">
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-edit-comment *ngIf="comment._id == editCommentId" (editComment)="editComment($event)"
        (cancelEditComment)="cancelEditComment()"></app-edit-comment>
      <app-reply-comment *ngIf="comment._id == newCommentId" (replyComment)="replyComment($event)"
        (cancelAddReply)="cancelAddReply()"></app-reply-comment>
    </div>
  </div>
  <app-replies-list [commentId]="comment._id" [postId]="postId" [replies]="comment.replies"></app-replies-list>
</div>