<div class="navcontainer">
  <nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-size-3 is-uppercase" [routerLink]="['/home']" routerLinkActive="router-link-active">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        Newbie
      </a>

      <a role="button" class="navbar-burger burger" (click)="showMenu()" id="burger" aria-label="menu"
        aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/create']" routerLinkActive="router-link-active">
          Write a post
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="section">
  <div class="post_wrapper">
    <div class="" *ngIf="showpost">
      <div class="">
        <div class="field p_a">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" class="is-rounded">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-size-6 has-text-weight-normal">{{post.author}}</p>
              <p class="subtitle is-size-6 has-text-weight-normal">{{post.date | date}} . <span>{{result}} min
                  read</span></p>
            </div>
            <div class="media-right">
              <div class="buttons">
                <a class="button is-primary is-outlined" title="Edit" routerLink="/{{post._id}}/edit">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="button is-danger is-outlined" (click)="deleteThisPost(post)">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="field p_t">
          <p class="title is-size-2 has-text-weight-normal">
            {{post.title}}
          </p>
        </div>
        <div class="body-text content">
          <div class="content texttrunc is-size-5" [innerHTML]="post.body">
            <!-- {{post.body}} -->
          </div>
          <div class="field has-text-left-mobile has-text-right lp">
            <a class="icon has-text-info is-size-3" title="Edit">
              <i class="fas fa-thumbs-up"></i>
            </a>
          </div>
          <hr>
        </div>
        <footer class="">
          <a class="button is-primary is-outlined is-fullwidth is-medium" (click)="toggleComment()">
            <p *ngIf="addComment">
              I change my mind
            </p>
            <p *ngIf="!addComment">
              Add a comment
            </p>
          </a>
          <ckeditor [editor]="Editor" *ngIf="addComment" class="animated fadeInUp"></ckeditor>
        </footer>

      </div>
    </div>
  </div>
</div>