.wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) */
}
.navcontainer{
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}
.post_wrapper{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.p_t{
    margin-top: 0.78em;
    margin-bottom: 0.78em
}
.p_a{
    margin-top: 32px
}
/* .texttrunc{
    margin-top: 2rem;
} */
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 150px;
    margin-top: 3rem;
    padding: 0 25px;
    border: 2px solid #cccccc;
}
:host ::ng-deep .ck-editor__editable > .ck-placeholder::before {
    color: #d21714;
    font-family: Georgia;
}
.body-text{
    margin: 3rem 0;
}
.lp{
    padding-right: 2rem;
    padding-left: 2rem
}