.wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: black
}
a:hover{
    color: #3273dc
}
.test{
    background-color: #209cee
}
.texttrunc {
    height: 6.25em; /* exactly three lines */
    overflow: hidden;
}
.c_f{
    margin-top: 2rem;
    border-top: 1px solid #cccc
}
.c_f .level{
    padding-top: .5rem;
}
.far.fa-comments{
    font-size: 20px;
}
