.wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: black
}
a:hover{
    color: #3273dc
}
.test{
    background-color: #209cee
}
.texttrunc {
    height: 6.25em; /* exactly three lines */
    overflow: hidden;
  }
