img{
    vertical-align: middle;
}
nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) */
}
.navcontainer{
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}
.post_wrapper{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.p_t{
    margin-top: 0.78em;
    margin-bottom: 0.78em
}
.p_a{
    margin-top: 32px
}
/* .texttrunc{
    margin-top: 2rem;
} */
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 150px;
    /* margin-top: 3rem; */
    padding: 0 25px;
    border: 2px solid #cccccc;
}
:host ::ng-deep .ck-editor__editable > .ck-placeholder::before {
    /* color: #d21714; */
    font-family: Georgia;
}
.body-text{
    margin: 3rem 0;
}
.t_w{
    margin: 15px 15px 2px;
}
.b_w{
    margin: 5px 15px 2px;
}
.c_w{
    margin-top: 3rem;
}
.s_c, .d_c{
    margin-top: 20px
}
.c_a{
    margin: auto !important;
}
.d_c{
    /* height: 200px; */
    margin-bottom: 3rem;
}

.edit_del_btns{
    display: flex
}
.edit_del_btns .edit_icon{
    margin-right: .5rem
}
.replies_card{
    width: 90%;
    margin-top: 1rem;
    margin-left: auto;
}
/* .editreplyeditor{
    width: 90%;
    margin-left: auto;
} */

/* .left_side_info{
    position: fixed;
    top: 40%;
    width: 20%;
    z-index: 2;
    height: 100vh;
} */

.postCard{
    padding-left: 6rem;
    padding-right: 6rem;
}
.about_author{
        padding: 2rem;
        margin-bottom: 2rem;
}
.author_content{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 1rem;
}
.follow-btn{
    background-color: transparent;
    border: 1px solid #2962ff;
    font-size: 13px;
    font-weight: 600;
    color: #2962ff;
    cursor: pointer;
    outline: 0;
    padding: 6px 10px 6px 8px;
    border-radius: 1000px;
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: .875rem;
}
.like_btn{
    border: 1px solid #e0e0e0;
    background: #f7f9fa;
    cursor: pointer;
    line-height: 1;
    border: 1px solid #e0e0e0;
    outline: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.like_btn img{
    width: 20px;
    height: 20px;
}
.like_btn span{
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
    display: inline-block;
    margin-left: 4px;
    color: blue;
    vertical-align: middle;
}
.hasLiked{
    background: rgba(33,150,243,.1);
    border-color: rgba(33,150,243,.4);
}
.media-content{
    margin: auto
}
.media-content p{
    margin-bottom: 0 !important
}
.addCommentField{
    padding-left: 6rem;
    padding-right: 6rem;
}
