<div *ngFor="let reply of replies.reverse()">
  <div class="card mt1 w90 replyCard">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image"
              class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="has-text-weight-light is-size-6 c_a">{{reply.author? reply.author: 'Anonymous'}}
            </p>
            <time datetime="" class="has-text-weight-light is-size-6">{{reply.date | timeAgo}}</time>
          </div>
        </div>
        <div class="media-right">
          <i class="fa fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="content" [innerHTML]="reply.text">

      </div>
      <div class="">
        <div class="level is-mobile" *ngIf="reply._id !== replyToEditId">
          <div class="level-left">
            <!-- <div class="level-item">
              <a class="button is-rounded like_btn">
                  <img src="../../../../assets/thumbs.png" alt="" srcset="">
                <span>0</span>
              </a>
            </div> -->
          </div>
          <div class="level-right">
            <div class="level-item">
              <a (click)="deleteThisReply(reply._id)" class="actionBtn"
                title="Delete reply">
                <img src="../../../../assets/bin.png" alt="delete">
              </a>
            </div>
            <div class="level-item">
              <a (click)="showEditThisReply(reply._id)" class="actionBtn"
                title="Edit reply">
                <img src="../../../../assets/edit.png" alt="reply">
              </a>
            </div>
          </div>
        </div>
      </div>   
       <app-edit-reply *ngIf="reply._id == replyToEditId" (cancelEditThisReply)="cancelEditThisReply()"  (editThisReply)="editThisReply($event)" ></app-edit-reply>
    </div>
  </div>

</div>