<div>
  <div class="field">
    <form [formGroup]="replyCommentForm">
      <ckeditor [editor]="Editor" [config]='config' formControlName="text">

      </ckeditor>
      <div class="buttons">
          <button class="button is-dark" (click)="sendReply(replyCommentForm.value)" type="submit" [disabled]="replyCommentForm.invalid">
              Submit
            </button>
        <button class="button is-dark" (click)="cancelReply()" type="button">
          cancel
        </button>
      </div>
    </form>
  </div>
</div>