<!-- <div *ngIf="comment?._id === newCommentId">
  <ckeditor [editor]="Editor" (change)="replyData($event)">

  </ckeditor>
  <div class="buttons">
    <a class="button is-dark" (click)="cancelReply()">
      cancel
    </a>
    <a class="button is-dark" (click)="sendReply(comment._id)">
      Submit
    </a>
  </div>
</div> -->

<div>
  <div class="field">
    <form [formGroup]="replyCommentForm">
      <ckeditor [editor]="Editor" formControlName="text">

      </ckeditor>
      <div class="buttons">
        <a class="button is-dark" (click)="cancelReply()">
          cancel
        </a>
        <a class="button is-dark" (click)="sendReply(replyCommentForm.value)">
          Submit
        </a>
      </div>
    </form>
  </div>
</div>