<app-navbar></app-navbar>
<div class="section">
  <div class="wrapper">
    <form [formGroup]="newPost" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="" class="label">
          Title
        </label>
        <div class="control">
          <input type="text" formControlName="title" class="input title is-size-4 is-medium" placeholder="Title of post"
            maxlength="100">
        </div>
        <div *ngIf="title.touched && title.invalid" class="has-text-danger">
          <div *ngIf="title.errors.required">Please add a title</div>
        </div>
      </div>
      <div class="field">
        <label for="" class="label">
          Description
        </label>
        <div class="control">
          <ckeditor [editor]="Editor" [config]="config" formControlName="content"></ckeditor>
        </div>
        <div *ngIf="body.touched && body.invalid" class="has-text-danger">
          <div *ngIf="body.errors.required">Please enter your post</div>
        </div>
      </div>
      <div class="field" formGroupName="meta">
        <label class="label">Tags</label>
        <div class="control" *ngFor="let tag of alltags; let i = index">
          <label class="checbox" (click)="addtag($event)">
            <input type="checkbox" class="checkbox" value="{{tag}}" [attr.data-value]="tag">
            {{alltags[i]}}
          </label>
        </div>
      </div>
      <button class="button is-info is-fullwidth is-medium" type="submit" [disabled]="newPost.invalid">
        <span>
          Create Post
        </span>
        <span class="icon is-small" *ngIf="loading">
          <i class="fas fa-spinner fa-pulse"></i>
        </span>
      </button>
    </form>
  </div>
</div>