<div class="navcontainer">
  <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
    <div class="cre">
      <div class="navbar-brand">
        <a class="navbar-item is-size-3 is-uppercase" [routerLink]="['/posts']">
          <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
          Newbie
        </a>
  
        <a #menu (click)="toggleMenu($event)" role="button" class="navbar-burger burger" id="burger" aria-label="menu"
          aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
  
      <div #navbarMenu id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" [routerLink]="['/posts/create']">
            Write a post
          </a>
          <div class="navbar-item">
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/users/login']" class="button is-primary is-outlined">
              Log in
            </a>
            <a *ngIf="auth.isAuthenticated()" [routerLink]="['/users/profile']" >Welcome {{auth.currentUser.firstName}}</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>