.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: black
}
a:hover{
    color: #3273dc
}
a:hover div{
    color: black
}
nav{
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) */
}
.navcontainer{
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}
.texttrunc {
    height: 6.25em; /* exactly three lines */
    overflow: hidden;
}
.c_f{
    margin-top: 2rem;
    border-top: 1px solid #cccc
}
.c_f .level{
    padding-top: .5rem;
}
.far.fa-comments{
    font-size: 20px;
}
.is-narrow{
    width: 23%;
}
.actionBtn img{
    vertical-align: middle
}
.actionBtn span{
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
    display: inline-block;
    margin-left: 4px;
    color: blue;
    vertical-align: middle;
}
.media-content{
    margin: auto
}
.media-content p{
    margin-bottom: 0 !important
}

.home-author-name-time p{
    margin: 0 .5rem 0 0;
    line-height: 1.3;
    font-weight: 600;
}
