<app-navbar></app-navbar>
<div class="section">
  <div class="wrapper">
    <div class="content" *ngIf="posts && (posts.length === 0)">
      No content
    </div>
    <div class="columns is-multiline">
      <div class="column is-half" *ngFor="let post of posts; let i = index;">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" class="is-rounded">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p class="title has-text-weight-light is-size-6">{{post.author}}</p>
                  <p class="subtitle has-text-weight-light is-6">{{post.date | date}} . <span>{{result[i]}} min read</span></p>
                </div>
              </div>
              <div class="media-right">
                  <i class="fa fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="content">
                <a [routerLink]="['/posts', post._id]" class="link" routerLinkActive="router-link-active">
                  <p class="title has-text-weight-medium is-size-4">
                    {{post.title}}
                  </p>
                </a>
            </div>
            <div class="tags">
              <span class="tag" *ngFor="let tags of alltags[i]">
                {{tags}}
               </span>
            </div>
            <footer class="c_f">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <a>
                        <i class="far fa-comments"></i>
                      <sup>{{post.comments.length? post.comments.length: '0'}}</sup>
                    </a>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                      <a class="icon has-text-link">
                        <i class="fas fa-thumbs-up"></i>
                      </a>
                      <sup>{{post.meta.likes}}</sup>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>