<app-navbar></app-navbar>
<div class="section">
  <div class="container">
    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" autocomplete="off">
      <div class="field">
        <label for="">
          Username:
        </label>
        <div class="control">
          <input type="text" class="input" formControlName="username">
        </div>
      </div>
      <div class="field">
        <label for="">
          Password:
        </label>
        <div class="control">
          <input type="password" class="input" formControlName="password">
        </div>
      </div>
      <div class="field">
        <div class="buttons">
          <button class="button is-primary" type="submit">Login</button>
          <button class="button is-dark" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>